<section>
    <div class="page-header">
        <h1 ng-bind="vm.question.title" style="display: inline"></h1>
        <span style="display: inline; font-size: 2em; color: #00A000" ng-show="vm.question.is_resolved">
            <i class="glyphicon glyphicon-ok"></i> (Solved)
        </span>
        <button ng-click="vm.reopenQuestion()"
                ng-show="vm.question.is_resolved && vm.question.isCurrentUserOwner"
                class="btn btn-danger"
                style="float: right">
            Reopen Question
        </button>
    </div>

    <small>
        <em class="text-muted">
            Posted on
            <span ng-bind="vm.question.created_at | date:'mediumDate'"></span>
            by
            <span ng-if="vm.question.user" ng-bind="vm.question.user.displayName"></span>
            <span ng-if="!vm.question.user">Deleted User</span>
        </em>
    </small>
    <pre>
        <p class="lead" ng-bind="vm.question.description"></p>
    </pre>

    <div class="btn-block" ng-show="vm.question.isCurrentUserOwner">
        <span class="badge badge-info"> 0 </span>
        <button type="button" class="btn btn-success"> <span class="glyphicon glyphicon-thumbs-up"></span></button>
        <button type="button" class="btn btn-danger"> <span class="glyphicon glyphicon-thumbs-down"></span></button>

        <div class="right-align">
            <a class="btn btn-info" ui-sref="questions.edit({ questionId: vm.question._id })">
                <i class="glyphicon glyphicon-edit"></i>
            </a>

            <a class="btn btn-danger right" ng-click="vm.remove()">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
    </div>

    <div class="list-group" style="margin: 20px">
        <div ng-repeat="answer in vm.question.answers" class="list-group-item" style="margin-left: 3%">
            <small class="list-group-item-text">
                Posted on
                <span ng-bind="answer.created_at | date:'mediumDate'"></span>
                by
                <span ng-if="answer.user" ng-bind="answer.user.displayName"></span>
                <span ng-if="!answer.user">Deleted User</span>
            </small>
            <pre>
                <p class="list-group-item-text" ng-bind="answer.text"></p>
            </pre>

            <div class="row-group">
                <span class="badge badge-info" ng-bind="answer.voteCount"></span>

                <button type="button" class="btn btn-success" ng-click="vm.addVote($index, true)"> <span class="glyphicon glyphicon-thumbs-up"></span> </button>
                <button type="button" class="btn btn-danger" ng-click="vm.addVote($index, false)"> <span class="glyphicon glyphicon-thumbs-down"></span> </button>

                <button ng-click="vm.resolveQuestion($index)" ng-show="!vm.question.is_resolved && vm.question.isCurrentUserOwner" class="btn btn-success">
                    Resolves Question
                </button>
                <span style="display: inline; font-size: 2em; color: #7a43b6; float: right;"
                      ng-show="answer._id == vm.question.resolving_answer_id">
                    <i class="glyphicon glyphicon-star"></i>(Best answer)
                </span>
            </div>

        </div>
    </div>

    <div class="col-md-12">
        <form name="vm.form.answerForm" class="form-horizontal" ng-submit="vm.saveAnswer(vm.form.answerForm.$valid)"
              novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="text"> Post your answer here: </label>
                    <textarea name="text" data-ng-model="vm.answer.text" id="text" class="form-control" cols="30"
                              rows="10" placeholder="Text"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-saved"></span> Proceed
                    </button>
                </div>
                <div ng-show="vm.error" class="text-danger">
                    <strong ng-bind="vm.error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
