<section>
    <div class="page-header">
        <h1 ng-bind="vm.question.title"></h1>
    </div>
    <div class="pull-right" ng-show="vm.question.isCurrentUserOwner">
        <a class="btn btn-primary" ui-sref="questions.edit({ questionId: vm.question._id })">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="vm.remove()">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">
            Posted on
            <span ng-bind="vm.question.created_at | date:'mediumDate'"></span>
            by
            <span ng-if="vm.question.user" ng-bind="vm.question.user.displayName"></span>
            <span ng-if="!vm.question.user">Deleted User</span>
        </em>
    </small>
    <pre>
        <p class="lead" ng-bind="vm.question.description"></p>
    </pre>

    <div class="list-group">
        <div ng-repeat="answer in vm.question.answers" class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span ng-bind="answer.created_at | date:'mediumDate'"></span>
                by
                <span ng-if="answer.user" ng-bind="answer.user.displayName"></span>
                <span ng-if="!answer.user">Deleted User</span>
            </small>
            <pre>
                <p class="list-group-item-text" ng-bind="answer.text"></p>
            </pre>
            <span ng-bind="answer.voteCount"></span>
            <button ng-click="vm.addVote($index, true)">UpVote</button>
            <button ng-click="vm.addVote($index, false)">DownVote</button>
        </div>
    </div>

    <div class="col-md-12">
        <form name="vm.form.answerForm" class="form-horizontal" ng-submit="vm.saveAnswer(vm.form.answerForm.$valid)"
              novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="text">Answer question</label>
                    <textarea name="text" data-ng-model="vm.answer.text" id="text" class="form-control" cols="30"
                              rows="10" placeholder="Text"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Answer question</button>
                </div>
                <div ng-show="vm.error" class="text-danger">
                    <strong ng-bind="vm.error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
